{% extends 'adminindex.html' %}
{% block body %}
{#    <body>#}
{#    <form id="form1" name="form1" method="post" action="/station_registration_post">#}
{#<table width="286" height="325" border="1">#}
{#  <tr>#}
{#    <th scope="row">Station Name</th>#}
{#    <td><form id="form1" name="form1" method="post" action="/station_registration_post">#}
{#      <label for="textfield"></label>#}
{#      <input type="text" name="textfield" id="textfield" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Place</th>#}
{#    <td>#}
{#      <label for="textfield2"></label>#}
{#      <input type="text" name="textfield2" id="textfield2" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">City</th>#}
{#    <td>#}
{#      <label for="textfield3"></label>#}
{#      <input type="text" name="textfield3" id="textfield3" />#}
{#   </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Pin</th>#}
{#    <td>#}
{#      <label for="textfield4"></label>#}
{#      <input type="text" name="textfield4" id="textfield4" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Street</th>#}
{#    <td>#}
{#      <label for="textfield5"></label>#}
{#      <input type="text" name="textfield5" id="textfield5" />#}
{#</td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">State</th>#}
{#    <td>#}
{#      <label for="textfield6"></label>#}
{#      <input type="text" name="textfield6" id="textfield6" />#}
{#   </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Phone</th>#}
{#    <td>#}
{#      <label for="textfield7"></label>#}
{#      <input type="text" name="textfield7" id="textfield7" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">Email</th>#}
{#    <td>#}
{#      <label for="textfield9"></label>#}
{#      <input type="text" name="textfield9" id="textfield9" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">latitude</th>#}
{#    <td>#}
{#      <label for="textfield10"></label>#}
{#      <input type="text" name="textfield10" id="textfield10" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row">longitude</th>#}
{#    <td>#}
{#      <label for="textfield8"></label>#}
{#      <input type="text" name="textfield8" id="textfield8" />#}
{#    </td>#}
{#  </tr>#}
{#  <tr>#}
{#    <th colspan="2" scope="row">#}
{#      <input type="submit" name="button" id="button" value="Submit" />#}
{#    </th>#}
{#  </tr>#}
{#</table>#}
{#</form>#}{#</body>#}
{#    #}
{#    #}
{#    #}
      <div class="contact-page-wrao section-padding" >
        <div class="container">
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="contact-form">
                        <form id="form1" name="form1" method="post" action="/station_registration_post">
                             <div class="message-input">
                          <input type="text" name="textfield" id="textfield" required placeholder="station name"/>
                            </div>
                              <div class="message-input">
                          <input type="text" name="textfield2" id="textfield" required placeholder="place"/>
                            </div>
                               <div class="message-input">
                          <input type="text" name="textfield3" id="textfield" required placeholder="city"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield4" id="textfield" required placeholder="pin"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield5" id="textfield" required placeholder="street"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield6" id="textfield" required placeholder="state"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield7" id="textfield" required placeholder="phone"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield9" id="textfield" required placeholder="email"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield10" id="textfield" required placeholder="latitusde"/>
                            </div>
                            <div class="message-input">
                          <input type="text" name="textfield8" id="textfield" required placeholder="longitude"/>
                            </div>

                            <div class="input-submit">
                                <button type="submit" name="button">ADD</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

