{% extends 'subadmintp.html' %}
{% block body %}
    <br/><br/><br/><br/>


{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{##}
{#<body>#}
{#<table width="200" border="1">#}
{#  <tr>#}
{#      <td><a href="/sbadmin_view_feedback">view subadmin feedback</a></td>#}
{#  </tr>#}
{#  <tr>#}
{#      <td><a href="/addsb_safe_point">Add safe point</a></td>#}
{#  </tr>#}
{#    <tr>#}
{#      <td><a href="/view_safepoint">view safe point</a></td>#}
{#  </tr>#}
{#<tr>#}
{#      <td><a href="/view_dangerous_spots">view dangerous spots</a></td>#}
{#  </tr>#}
{#    <tr>#}
{#      <td><a href="/view_police_vehicle">view police vehicle</a></td>#}
{#  </tr>#}
{#<tr>#}
{#      <td><a href="/view_visual">view visual</a></td>#}
{#  </tr>#}
{#  </tr>#}
{#</table>#}
{#</body>#}
{#</html>#}
    <br/><br/><br/><br/>
{% endblock %}
</form>