{% extends 'adminindex.html' %}
{% block body %}
    <br/><br/><br/><br/>
<form id="form1" name="form1" method="post" action="">
  <table width="343" height="93" border="1" class="table table-bordered" id="his">
  <thead class="thead-light">
    <tr>
      <th width="49" scope="col">sl no</th>
      <th width="32" scope="col">vid</th>
        <th scope="col">vehicle name</th>
        <th scope="col">vehicle number</th>
      <th width="76" scope="col">place</th>
      <th width="68" scope="col">latitude</th>
      <th width="84" scope="col">langitude</th>
    </tr>
  </thead>
                 {% for i in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ i['vid'] }}</td>
      <td>{{ i['place'] }}</td>
        <td>{{ i['vname'] }}&nbsp;</td>
      <td>{{ i['vnumber'] }}&nbsp;</td>
      <td>{{ i['latitude'] }}&nbsp;</td>
      <td>{{ i['longitude'] }}&nbsp;</td>
    </tr>
                  {% endfor %}
  </table>
</form>
<br/><br/><br/><br/>
{% endblock %}
