<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form2" name="form2" method="post" action="/update_vehicle_post">
<table width="236" height="168" border="1">

  <tr>
    <th scope="row">Name</th>
    <td>
      <input type="text" name="textfield2" id="textfield2" value="{{ data['vname'] }}" />
    </td>
  </tr>
  <tr>
    <th scope="row">Number</th>
    <td>
      <input type="text" name="textfield3" id="textfield3" value="{{ data['vnumber'] }}" />
 </td>
  </tr>
  <tr>
    <th scope="row">RC owner</th>
    <td>
      <input type="text" name="textfield4" id="textfield4" value="{{ data['rcowner'] }}" />
    </td>
  </tr>
  <tr>
    <th colspan="2" scope="row">
      <input type="submit" name="button" id="button" value="Submit" />
    </th>
  </tr>
</table>
    </form>
</body>
</html>