{% extends 'adminindex.html' %}
{% block body %}
    <br/><br/><br/><br/>
<form action="" method="get">
    <table width="516" height="128" border="1" class="table table-bordered" id="his">
    <thead class="thead-light">
  <tr>
      <th scope="col">Sl no</th>
    <th scope="col">Name</th>
    <th scope="col">Place</th>
    <th scope="col">Post</th>
    <th scope="col">Pin</th>
    <th scope="col">Email</th>
    <th scope="col">Contact</th>
    <th scope="col">Photo</th>
    <th scope="col">&nbsp;</th>
  </tr>
    </thead>
          {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    <td>{{ i['place'] }}</td>
    <td>{{ i['post'] }}&nbsp;</td>
    <td>{{ i['pin'] }}&nbsp;</td>
    <td>{{ i['email'] }}&nbsp;</td>
    <td>{{ i['contact'] }}&nbsp;</td>
      <td>{{ i['photo'] }}</td>
      <td><button type="button" class="btn btn-danger" style="padding: 4px 23px;"><a href="/delete_subadmin/{{ i['sbid'] }}"><font color="#FFFFFF">Delete</font></a></button></td>
      <td><button type="button" class="btn btn-primary" style="padding: 4px 25px;"><a href="/edit_subadmin/{{ i['sbid'] }}"><font color="#FFFFFF">Edit</font></a></button></td>
  </tr>
          {% endfor %}

</table>
</form>

 <br/><br/><br/><br/>
{% endblock %}